.frame-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    color: blanchedalmond;
    background-color: black;
    position: relative;
    canvas {
        width: 250px;
        border: 1px solid red;
    }
    padding: 10px;
}

.frame-menu {
    position: absolute;
    left: 15px;
    top: 10px;
    bottom: 65px;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.frame-menu__item {
    cursor: pointer;
    img {
        width: 30px;
        height: 30px;
    }
    &.down-arrow {
        img {
            transform: rotateZ(180deg);
        }
    }
    button {
        cursor: pointer;
        height: 50px;
    }
}

.frame-block__input-block-title {
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 100%;
}

.frame-block__input-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    input {
        height: 40px;
        width: 100px;
    }
    img {
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
}