

.left-panel__tool-item {
  margin-bottom: 10px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid black;
  background-color: rgb(60, 60, 60);
  color: black;
  font-weight: 700;
  img {
    width: 40px;
  }
  &:hover {
    background-color: darkred;
  }

  &.active {
    background-color: darkred;
  }
}