
.top-panel__image-tool {
  display: flex;
  align-items: center;
}

.image-tool__inputs {
  display: flex;
  justify-content: space-around;
}
.image-tool__block-row {
  display: flex;
  justify-content: space-around;
  max-height: 30px;
  margin-right: 20px;
  h3 {
    margin: 0 15px 0 0;
    padding: 0;
  }
  input {
    max-width: 60px;
  }
}