.right-panel__layout-block {
  cursor: pointer;
  padding: 10px 30px 50px 25px;
  width: 350px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  canvas {
    width: 250px;
    height: auto;
    outline: 3px solid red;
  }
}

.right-panel__layout-list {
  overflow: hidden;
  overflow-y: scroll;
  max-height: calc(100vh - 210px);
  position: relative;
  &::-webkit-scrollbar {
    width: 15px; /* ширина для вертикального скролла */
    background-color: black;
    border-radius: 10px;

  }
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 10px;
    background-color:gray;
  }

}

.right-panel__layout-buttons {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  height: 55px;
  button {
    width: 40%;
    padding: 5px;
    background-color: black;
    border: none;
    color: whitesmoke;
    cursor: pointer;
    border: 4px solid black;

    &:hover {
      background-color: darkred;
    }
  }
}

.right-panel__context-menu {
  position: absolute;
  display: none;
  background-color: red;
  z-index: 999;
  width: 200px;
  border-radius: 10px;

  &.active {
    display: block;
  }
}

.right-panel__context-menu-item {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;

  &:hover {
    background-color: gray;
  }
}