.top-panel__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  min-width: 400px;
}

.top-panel__menu-item {
  height: 100%;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 18px;
  &:hover {
    background-color: rgb(10, 10, 10);
  }
}