.brush-panel__block {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  height: 85px;
  padding: 5px;
  margin-right: 20px;
}

.brush-panel__panel-titile {
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.brush-panel__inputs-block {
  display: flex;
  justify-content: space-between;

  input[type=color] {
    width: 50px;
    height: 20px;
  }

  input[type=number] {
    width: 50px;
    height: 20px;
    background-color: floralwhite;
    border: none;
  }

  input[type=text] {
    width: 100px;
    height: 20px;
  }
}
