.context-menu {
  position: absolute;
  display: none;
  background-color: red;
  z-index: 999;
  width: 200px;
  border-radius: 10px;

  &.active {
    display: block;
  }
}

.context-menu-item {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  &:hover {
    background-color: gray;
  }
}
.context-menu-item__input {
  width: 60%;
}